[data-testid="slackUserName"] {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 40px;
}

div {
  text-align: center;
}

div a {
  background-color: rgb(66, 86, 196);
  border-radius: 20px;
  padding: 7px;
  color: white;
}

body {
  background-color: plum;
}

[data-testid="slackDisplayImage"] {
  width: 200px;
  height: 200px;
}

[data-testid="currentDayOfTheWeek"] {
  text-align: center;
}

[data-testid="currentUTCTime"] {
  text-align: center;
}

[data-testid="myTrack"] {
  text-align: center;
}

[data-testid="githubURL"] {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}